@font-face {
    font-family: nawasenaj;
    src: url('nawasenaj.ttf') format('truetype');
    }

body{
    font-family: 'nawasenaj', 'sans-serif';
}

.judul{
    font-size: 50px;
    text-align: center;
}
   
